// GitHub personal access token
// https://github.com/settings/applications
// Scopes: repo
exports.githubToken = '<long hex string token here>';

// Google project ID for KA
exports.bqProjectId = '<project id here>';

// HipChat API access token
// https://khanacademy.hipchat.com/account/api
exports.hipchatToken = '<token>';

// API key for Forecast
// https://developer.forecast.io/
exports.forecastAPIKey = '<api key>';

// Khan Academy API
// See README.md for detailed instructions
// https://github.com/Khan/khan-api/wiki/Khan-Academy-API
exports.kaConsumerKey = '<consumer key>';
exports.kaConsumerSecret = '<consumer secret>';
exports.kaAccessToken = '<access token>';
exports.kaAccessTokenSecret = '<access token secret>';

// Twitter API
// https://apps.twitter.com/
// Instructions: https://dev.twitter.com/docs/auth/tokens-devtwittercom
exports.twitterConsumerKey = '<consumer key>';
exports.twitterConsumerSecret = '<consumer secret>';
exports.twitterAccessToken = '<access token>';
exports.twitterAccessTokenSecret = '<access token secret>';
