// GitHub personal access token
// https://github.com/settings/applications
// Scopes: repo
exports.githubToken = '<long hex string token here>';
exports.projectNumber = '<the khan project number>';
exports.bqClientId = '<check your bigquery token>';
