// GitHub personal access token
// https://github.com/settings/applications
// Scopes: repo
exports.githubToken = '<long hex string token here>';

// BigQuery client data
// https://developers.google.com/bigquery/authorization#service-accounts 
exports.bqClientId = '<something@developer.gserviceaccount.com>';

// HipChat API access token
// https://khanacademy.hipchat.com/account/api
exports.hipchatToken = '<token>';

// API key for Forecast
// https://developer.forecast.io/
exports.forecastAPIKey = '<api key>';
